body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ------------Header-------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}
.header .container {
  display: flex;
  align-items: center;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 76px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
}
.logo-header-s {
  color: #2e2f42;
}
.nav {
  display: flex;
  align-items: center;
}
.navy-list {
  gap: 40px;
  display: flex;
  align-items: center;
}
.navy-item {
}
.navy-item-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navy-item-link:hover,
.navy-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-item {
}
.address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address-list:focus {
}

/* ------------main-----------*/

.main-slogan {
  padding: 188px 0;
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  max-width: 496px;
  text-align: center;
  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.button-slogan {
  font-weight: 500;
  font-size: 16px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.button-slogan:hover,
.button-slogan:focus {
  background-color: #404bbf;
}
.main-advantages {
  padding: 120px 0;
}
.advantages {
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-advantages-list {
  display: flex;
  gap: 24px;
}
.main-advantages-item {
  width: calc((100% - 72px) / 4);
}
.main-advantages-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.main-advantages-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.team-item-box {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #000;
  border-top: none;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-title-text {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
}
.portfolio-item-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------footer-----------*/
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-footer-s {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  max-width: 264px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
