body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------Header-------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}
.container-header {
  display: flex;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 76px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.logo-header-s {
  color: #2e2f42;
}
.nav {
  align-items: center;
}
.navy-list {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navy-item {
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}
.navy-item-link {
  color: #2e2f42;
}
.navy-item-link:hover,
.navy-item-link:focus {
  color: #404bbf;
}

.address {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-link {
  gap: 40px;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address-list:focus {
}

/* ------------main-----------*/

.main-slogan {
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding: 472px 188px 472px 292px;
}
.button-slogan {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.button-slogan:hover,
.button-slogan:focus {
  background-color: #404bbf;
}
.main-advantages {
}
.advantages {
}
.main-advantages-list {
  padding: 156px 120px;
}
.main-advantages-item {
}
.main-advantages-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-advantages-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-title-text {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
}
.portfolio-item {
  background-color: #ffffff;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------footer-----------*/
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-footer-s {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
